<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- CONNECTION STRING TO THE DATABASE!! MODIFY THIS IF NEEDED!! -->
    <add name="DBConnectionString" connectionString="user id=${db_user_id};data source=${db_source}\;initial catalog=Office;password=${db_user_password}" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <authentication mode="Forms">
      <forms name="JitbitHelpDeskAuth" loginUrl="~/User/Login" slidingExpiration="true" timeout="30" cookieSameSite="Lax" />
    </authentication>
	  
    <!--!!!!IMPORTANT!!!!! To enable WINDOWS AUTHENTICATTON
    uncomment the next line that contains the "authentication" and "identity" tags
    and comment (or delete) the above tag that says "authentication mode=Forms"
    HelpDesk will NOT prompt users for login, it will use the user's current windows-account (the browser should support Windows-authentication).
    NOTE: if you're using IIS6, Windows Authentication should be enabled for the IIS directory
    where HelpDesk is installed, and Anonymous Access to this directory should be DISABLED!!!!!
    -->
	  
    <!--<authentication mode="Windows"/>-->
	  
	  
    <!--some reserved .NET stuff, do not touch-->
    <customErrors mode="Off" />
	  
	  
    <!--technical stuff (mvc)-->
    <compilation batch="false" targetFramework="4.7.2" />
    <pages theme="" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces><add namespace="System.Web.Helpers" /><add namespace="System.Web.Mvc" /><add namespace="System.Web.Mvc.Ajax" /><add namespace="System.Web.Mvc.Html" /><add namespace="System.Web.Routing" /><add namespace="System.Web.WebPages" /></namespaces>
    </pages>
	  
	  
	  
    <httpRuntime requestValidationMode="2.0" targetFramework="4.5" requestPathInvalidCharacters="" maxRequestLength="20000" />
  </system.web>
	
	
  <!-- helpdesk app settings -->
  <appSettings>
    <!-- this is for sending emails about errors to admin -->
    <add key="SendEmailErrorReports" value="false" />
    <add key="EmailErrorTo" value="support@myserver.com" /><!-- separate multiple addresses with commas-->
    <add key="EmailErrorFrom" value="admin@myserver.com" />
    <add key="EmailErrorSMTPHost" value="mail.myserver.com" />
    <add key="EmailErrorSMTPPort" value="25" />
    <add key="EmailErrorUseSSL" value="false" />
    <add key="EmailErrorSMTPUser" value="admin@myserver.com" />
	  
    <!-- just leave blank if your server does not use authentication -->
    <add key="EmailErrorSMTPPassword" value="password" />
    <!-- just leave blank if your server does not use authentication -->
	  
    <!--these are reserved-->
    <add key="EmailErrorPOPHost" value="mail.myserver.com" />
    <add key="EmailErrorPOPPort" value="110" />
    <add key="EmailErrorPOPUser" value="user" />
    <add key="EmailErrorPOPPsw" value="password" />
    <add key="EmailErrorPOPUseSSL" value="false" />
	  
    <!-- try to log errors to the application event log -->
    <add key="LogErrors" value="true" />
	  
    <!--(do not touch, advanced setting (leave blank to store files in the db) -->
    <add key="AttachmentsPath" value="D:\OfficeAdmin\" />
	  
    <!--(do not touch, this disables the mail-importer, for debugging only -->
    <add key="DisableMailChecker" value="" />
	  
    <!--disallow users to change their avatars (if you want them to come from AD for example) -->
    <add key="DisallowChangingAvatars" value="false" />
	  
    <!-- this URL will be used in all outgoing email notifications -->
    <add key="AppURL" value="https://${app_url}/" />
	  
    <!--If you're using Windows authentication - this user will be added to administrators automatically-->
    <add key="WindowsAdminUsername" value="DOMAIN\Username" />
	  
    <!--
    (do not touch. andvanced setting)
    email-server passwords will be encrypted in the db with this key (if not empty). 8 characters, latin letters/numbers only. example "78d6fg81"
    BACKUP THIS KEY AND NEVER CHANGE IT otherwise your email password in the DB will be lost forever!!-->
    <add key="MailPswEncryptKey" value="" />
	
	<!-- disables SSL 3 and TLS 1 and 1.1 for all network connections-->
    <add key="DisableWeakCiphers" value="false" />
	    
    <!--for MVC-->
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PreserveLoginUrl" value="true" />

  </appSettings>
	
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!-- more mvc stuff -->
    <modules runAllManagedModulesForAllRequests="true" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="20971520" /> <!-- 20MB -->
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <remove fileExtension=".woff" /> <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
    </staticContent>
    <!--for hosted version
    <httpErrors existingResponse="Replace">
      <remove statusCode="500" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" prefixLanguageFilePath="" path="error404.htm" responseMode="File" />
      <error statusCode="500" prefixLanguageFilePath="" path="error.htm" responseMode="File" />
    </httpErrors>
    -->
	  <httpProtocol>
		  <customHeaders>
			  <add name="X-Content-Type-Options" value="nosniff" />
		  </customHeaders>
	  </httpProtocol>
  </system.webServer>
	
  <!--for smtp, otherwise it randomly dies-->
  <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
  </system.net>
	
  <location path="AdminSettings.aspx"><system.web><authorization><deny users="?" /></authorization></system.web></location>
	<location path="AdminEmail.aspx"><system.web><authorization><deny users="?" /></authorization></system.web></location>
	<location path="AdminCustomStatuses.aspx"><system.web><authorization><deny users="?" /></authorization></system.web></location>
	<location path="EditComment.aspx"><system.web><authorization><deny users="?" /></authorization></system.web></location>
	<location path="TicketSchedule.aspx"><system.web><authorization><deny users="?" /></authorization></system.web></location>
	
	
  <!--mvc 4.0.0.1 ref-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.5.0" newVersion="5.2.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>